<div class="footer-wrapper">
    <div class="footer-inner">
        <footer class="main">        
            <section class="footer-top">

                <div class="footer-social">
                    <div class="footer-social-title">Connect With Pizza Hut</div>
                    <ul class="footer-social-links">
                        <li class="facebook"><img src="images/social/facebook.png" alt="Like us on facebook"/> <span>Like us on Facebook</span></li>
                        <li class="twitter"><img src="images/social/twitter.png" alt="Follow us on Twitter"/> <span>Follow us on Twitter</span></li>
                        <li class="youtube"><img src="images/social/youtube.png" alt="Watch us on YouTube"/> <span>Watch us on YouTube</span></li>
                        <li class="mobile-app"><img src="images/social/mobile_app.png" alt="Get our mobile app" class="mobile-app-icon" /> <span class="mobile-app-text">Get our mobile app</span></li>
                    </ul>
                </div>

                <nav class="footer-nav">

                    <div class="footer-mobile-list">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Menu</a></li>
                            <li><a href="#">Store Finder</a></li>
                            <li><a href="#">Store Offers</a></li>
                            <li><a href="#">Nutrition</a></li>
                        </ul>

                        <ul>
                            <li><a href="#">Work With Us</a></li>
                            <li><a href="#">Franchising</a></li>
                            <li><a href="#">About Us</a></li>
                        </ul>
                    </div>

                    <div class="footer-mobile-list">
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                        </ul>

                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Latest</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                </nav>

            </section>

            <section class="footer-bottom">
                <p>&copy; 2014 Pizza Hut, Inc. All rights reserved. The Pizza Hut name, logos and related marks are trademarks of Pizza Hut, Inc.</p>
            </section>
        </footer>
    </div>
</div>    
    
    
    
 
<div id="mobile-nav-content" class="sidr">
  <ul>
    <li><a href="#">Deals</a></li>
    <li>
        <a href="#" rel="collapse-trigger">Meals</a>
        <ul rel="collapse-group">
            <li><a href="#">Meal 1</a></li>
            <li><a href="#">Meal 2</a></li>
            <li><a href="#">Meal 3</a></li>
        </ul>
    </li>
    <li>
    <a href="#" rel="collapse-trigger">Pizza</a>
        <ul rel="collapse-group">
            <li><a href="#">Signature</a></li>
            <li><a href="#">Legends</a></li>
            <li><a href="#">Classics</a></li>
            <li><a href="#">Light Pizza</a></li>
            <li><a href="#">Mia</a></li>
            <li><a href="#">Show All</a></li>
        </ul>
    </li>
    <li>
        <a href="#" rel="collapse-trigger">Sides</a>
        <ul rel="collapse-group">
            <li><a href="#">Side 1</a></li>
            <li><a href="#">Side 2</a></li>
            <li><a href="#">Side 3</a></li>
        </ul>
    </li>
  </ul>
</div>