<div class="mobile-stack">
    <div class="nav-order-status mobile-only">
        <!-- Default: No Location Set Start -->
            <!--
            <button class="start-your-order nav-order-status-content btn btn-gold">Start Your Order</button>
            -->
        <!-- Default: No Location Set End -->

        <section class="started-your-order-info nav-order-status-content">
            <span class="delivery-info">
                <p class="delivery-location-line-area">
                    <span class="delivery-location-line">1990 Greensboro Drive NW (apt #202), Fairfax, VA, 22030</span> <span class="edit-location">Edit</span>
                </p>
                <p class="delivery-time-line"><span class="red-text">Delivery Time:</span> 6:30pm, Mon 25th June</p>
            </span>
            <span class="delivery-price">
                <div class="delivery-price-line">$208.28</div>
                <div class="add-coupon coupon-action">Add Coupon</div>
            </span>
        </section>
    </div>
    <ul class="mobile-nav-stack mobile-only">
        <li><a href="#">Deals</a></li>
        <li><a href="#">Meals</a></li>
        <li><a href="#">Pizza</a></li>
        <li><a href="#">Sides</a></li>
    </ul>
</div>